openapi: 3.0.1
info:
  description: Purview Catalog Service is a fully managed cloud service whose users
    can discover the data sources they need and understand the data sources they find.
    At the same time, Data Catalog helps organizations get more value from their existing
    investments. This swagger defines REST API of the Hot Tier of Data Catalog Gen
    2.
  title: Purview Catalog Service REST API Document
  version: 2020-12-01-preview
servers:
- url: https://catalog.purview.azure.com/api
security:
- azure_auth:
  - user_impersonation
paths:
  /atlas/v2/entity:
    post:
      description: |-
        Creates or updates an entity in Atlas.
        Existing entity is matched using its unique guid if supplied or by its unique attributes eg: qualifiedName.
        Map and array of collections are not well supported. E.g., array<array<int>>, array<map<string, int>>.
      operationId: EntityREST_CreateOrUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasEntityWithExtInfo'
        description: Atlas entity with extended information.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Created with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_Create:
          $ref: ./examples/EntityREST_Create.json
        EntityREST_Update:
          $ref: ./examples/EntityREST_Update.json
      x-codegen-request-body-name: entity
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/bulk:
    delete:
      description: Deletes a list of entities in bulk identified by their GUIDs or
        unique attributes.
      operationId: EntityREST_BulkDelete
      parameters:
      - description: An array of GUIDs of entities to delete.
        explode: true
        in: query
        name: guid
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Deleted with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_DeleteByGuids:
          $ref: ./examples/EntityREST_DeleteByGuids.json
      x-accepts: application/json
    get:
      description: Lists entities in bulk identified by its GUIDs.
      operationId: EntityREST_GetByGuids
      parameters:
      - description: An array of GUIDs of entities to create.
        explode: true
        in: query
        name: guid
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Whether to return minimal information for referred entities.
        in: query
        name: minExtInfo
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to ignore relationship attributes.
        in: query
        name: ignoreRelationships
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntitiesWithExtInfo'
          description: OK.
        "404":
          content: {}
          description: No entity is found.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetByGuids:
          $ref: ./examples/EntityREST_GetByGuids.json
      x-accepts: application/json
    post:
      description: |-
        Creates or updates entities in Atlas in bulk.
        Existing entity is matched using its unique guid if supplied or by its unique attributes eg: qualifiedName.
        Map and array of collections are not well supported. E.g., array<array<int>>, array<map<string, int>>.
      operationId: EntityREST_CreateOrUpdateBulk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasEntitiesWithExtInfo'
        description: An array of entities to create or update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Ok.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_CreateOrUpdateBulk:
          $ref: ./examples/EntityREST_CreateOrUpdateBulk.json
      x-codegen-request-body-name: entities
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/bulk/classification:
    post:
      description: Associates a classification to multiple entities in bulk.
      operationId: EntityREST_AddClassification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_ClassificationAssociateRequest'
        description: The request to associate a classification to multiple entities.
        required: true
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_AddClassificationToEntityByGuids:
          $ref: ./examples/EntityREST_AddClassificationToEntityByGuids.json
      x-codegen-request-body-name: request
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/guid/{guid}:
    delete:
      description: Deletes an entity identified by its GUID.
      operationId: EntityREST_DeleteByGuid
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Deleted with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_DeleteByGuid:
          $ref: ./examples/EntityREST_DeleteByGuid.json
      x-accepts: application/json
    get:
      description: Gets complete definition of an entity given its GUID.
      operationId: EntityREST_GetById
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to return minimal information for referred entities.
        in: query
        name: minExtInfo
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to ignore relationship attributes.
        in: query
        name: ignoreRelationships
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntityWithExtInfo'
          description: OK.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetById:
          $ref: ./examples/EntityREST_GetById.json
      x-accepts: application/json
    put:
      description: |-
        Updates entity partially - creates or updates entity attribute identified by its GUID.
        Supports only primitive attribute type and entity references.
        It does not support updation of complex types like arrays, and maps.
        Null updates are not possible.
      operationId: EntityREST_PartialUpdateEntityAttrByGuid
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the attribute.
        in: query
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: The value of the attribute.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Updated with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_PartialUpdateEntityAttrByGuid:
          $ref: ./examples/EntityREST_PartialUpdateEntityAttrByGuid.json
      x-codegen-request-body-name: body
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/guid/{guid}/classification/{classificationName}:
    delete:
      description: Deletes a given classification from an existing entity represented
        by a GUID.
      operationId: EntityREST_DeleteClassification
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the classification.
        in: path
        name: classificationName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_DeleteClassification:
          $ref: ./examples/EntityREST_DeleteClassification.json
      x-accepts: application/json
    get:
      description: Lists classifications for a given entity represented by a GUID.
      operationId: EntityREST_GetClassification
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the classification.
        in: path
        name: classificationName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasClassification'
          description: The classification for the given entity GUID.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetClassification:
          $ref: ./examples/EntityREST_GetClassification.json
      x-accepts: application/json
  /atlas/v2/entity/guid/{guid}/classifications:
    get:
      description: Lists classifications for a given entity represented by a GUID.
      operationId: EntityREST_GetClassifications
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasClassifications'
          description: An array of classifications for the given entity GUID.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetClassifications:
          $ref: ./examples/EntityREST_GetClassifications.json
      x-accepts: application/json
    post:
      description: Adds classifications to an existing entity represented by a GUID.
      operationId: EntityREST_AddClassifications
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of classifications.
              items:
                $ref: '#/components/schemas/json_AtlasClassification'
              type: array
        description: An array of classifications to be added.
        required: true
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_AddClassifications:
          $ref: ./examples/EntityREST_AddClassifications.json
      x-codegen-request-body-name: classifications
      x-contentType: application/json
      x-accepts: application/json
    put:
      description: Updates classifications to an existing entity represented by a
        guid.
      operationId: EntityREST_UpdateClassifications
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of classifications.
              items:
                $ref: '#/components/schemas/json_AtlasClassification'
              type: array
        description: An array of classifications to be updated.
        required: true
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_UpdateClassifications:
          $ref: ./examples/EntityREST_UpdateClassifications.json
      x-codegen-request-body-name: classifications
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/uniqueAttribute/type/{typeName}:
    delete:
      description: |-
        Deletes an entity identified by its type and unique attributes.
        In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format:
        attr:<attrName>=<attrValue>.
        NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName.
        The REST request would look something like this:
        DELETE /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue.
      operationId: EntityREST_DeleteByUniqueAttribute
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Deleted with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_DeleteByUniqueAttribute:
          $ref: ./examples/EntityREST_DeleteByUniqueAttribute.json
      x-accepts: application/json
    get:
      description: |-
        Gets complete definition of an entity given its type and unique attribute.
        In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format:
        attr:<attrName>=<attrValue>.
        NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName.
        The REST request would look something like this:
        GET /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue.
      operationId: EntityREST_GetByUniqueAttributes
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to return minimal information for referred entities.
        in: query
        name: minExtInfo
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to ignore relationship attributes.
        in: query
        name: ignoreRelationships
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntityWithExtInfo'
          description: AtlasEntityWithExtInfo.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetByUniqueAttributes:
          $ref: ./examples/EntityREST_GetByUniqueAttributes.json
      x-accepts: application/json
    put:
      description: |-
        Updates entity partially - Allows a subset of attributes to be updated on
        an entity which is identified by its type and unique attribute  eg: Referenceable.qualifiedName.
        Null updates are not possible.
        In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format:
        attr:<attrName>=<attrValue>.
        NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName.
        The REST request would look something like this:
        PUT /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue.
      operationId: EntityREST_PartialUpdateEntityByUniqueAttrs
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasEntityWithExtInfo'
        description: Atlas entity with extended information.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_EntityMutationResponse'
          description: Updated with EntityMutationResponse.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_PartialUpdateEntityByUniqueAttrs:
          $ref: ./examples/EntityREST_PartialUpdateEntityByUniqueAttrs.json
      x-codegen-request-body-name: atlasEntityWithExtInfo
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/uniqueAttribute/type/{typeName}/classification/{classificationName}:
    delete:
      description: Deletes a given classification from an entity identified by its
        type and unique attributes.
      operationId: EntityREST_DeleteClassificationByUniqueAttribute
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The name of the classification.
        in: path
        name: classificationName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content.
        "404":
          content: {}
          description: Not Found.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_DeleteClassificationByUniqueAttribute:
          $ref: ./examples/EntityREST_DeleteClassificationByUniqueAttribute.json
      x-accepts: application/json
  /atlas/v2/entity/uniqueAttribute/type/{typeName}/classifications:
    post:
      description: Adds classification to the entity identified by its type and unique
        attributes.
      operationId: EntityREST_AddClassificationsByUniqueAttribute
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: An array of classification.
              items:
                $ref: '#/components/schemas/json_AtlasClassification'
              type: array
        description: An array of classification to be added.
        required: true
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_AddClassificationsByUniqueAttribute:
          $ref: ./examples/EntityREST_AddClassificationsByUniqueAttribute.json
      x-codegen-request-body-name: atlasClassificationArray
      x-contentType: application/json
      x-accepts: application/json
    put:
      description: Updates classification on an entity identified by its type and
        unique attributes.
      operationId: EntityREST_UpdateClassificationsByUniqueAttribute
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The qualified name of the entity.
        in: query
        name: attr:qualifiedName
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              description: An array of classification.
              items:
                $ref: '#/components/schemas/json_AtlasClassification'
              type: array
        description: An array of classification to be updated.
        required: true
      responses:
        "204":
          content: {}
          description: No Content.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_UpdateClassificationsByUniqueAttribute:
          $ref: ./examples/EntityREST_UpdateClassificationsByUniqueAttribute.json
      x-codegen-request-body-name: atlasClassificationArray
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/bulk/setClassifications:
    post:
      description: set classifications on entities in bulk.
      operationId: EntityREST_SetClassifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasEntityHeaders'
        description: Atlas entity headers.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Response that indicates each classification mutation
                  result.
                items:
                  type: string
                type: array
          description: OK
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_SetClassifications:
          $ref: ./examples/EntityREST_SetClassifications.json
      x-codegen-request-body-name: entityHeaders
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/entity/bulk/uniqueAttribute/type/{typeName}:
    get:
      description: |-
        Bulk API to retrieve list of entities identified by its unique attributes.

        In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format

        typeName=<typeName>&attr_1:<attrName>=<attrValue>&attr_2:<attrName>=<attrValue>&attr_3:<attrName>=<attrValue>

        NOTE: The attrName should be an unique attribute for the given entity-type

        The REST request would look something like this

        GET /v2/entity/bulk/uniqueAttribute/type/hive_db?attr_0:qualifiedName=db1@cl1&attr_2:qualifiedName=db2@cl1
      operationId: EntityREST_GetEntitiesByUniqueAttributes
      parameters:
      - description: The name of the type.
        in: path
        name: typeName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to return minimal information for referred entities.
        in: query
        name: minExtInfo
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Whether to ignore relationship attributes.
        in: query
        name: ignoreRelationships
        schema:
          default: false
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Qualified name of an entity. E.g. to find 2 entities you can
          set attrs_0:qualifiedName=db1@cl1&attrs_2:qualifiedName=db2@cl1
        in: query
        name: attr_N:qualifiedName
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntitiesWithExtInfo'
          description: OK.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetEntitiesByUniqueAttributes:
          $ref: ./examples/EntityREST_GetEntitiesByUniqueAttributes.json
      x-accepts: application/json
  /atlas/v2/entity/guid/{guid}/header:
    get:
      description: Get entity header given its GUID.
      operationId: EntityREST_GetHeaderById
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntityHeader'
          description: AtlasEntityHeader
      summary: Get entity header given its GUID.
      tags:
      - EntityREST
      x-ms-examples:
        EntityREST_GetHeaderById:
          $ref: ./examples/EntityREST_GetHeaderById.json
      x-accepts: application/json
  /atlas/v2/glossary:
    get:
      description: Gets all glossaries registered with Atlas.
      operationId: GlossaryREST_GetGlossaries
      parameters:
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of existing glossaries fitting the search criteria
                  or empty list if nothing matches.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossary'
                type: array
          description: An array of existing glossaries fitting the search criteria
            or empty list if nothing matches.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaries:
          $ref: ./examples/GlossaryREST_GetGlossaries.json
      x-accepts: application/json
    post:
      description: Creates a glossary.
      operationId: GlossaryREST_CreateGlossary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossary'
        description: |-
          Glossary definition, terms & categories can be anchored to a glossary.
          Using the anchor attribute when creating the Term/Category.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossary'
          description: OK. If glossary creation was successful.
        "400":
          content: {}
          description: If glossary definition has invalid or missing information.
        "409":
          content: {}
          description: If glossary definition already exists (duplicate qualifiedName).
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_CreateGlossary:
          $ref: ./examples/GlossaryREST_CreateGlossary.json
      x-codegen-request-body-name: atlasGlossary
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/categories:
    post:
      description: Creates glossary category in bulk.
      operationId: GlossaryREST_CreateGlossaryCategories
      requestBody:
        content:
          application/json:
            schema:
              description: An array of glossary category definitions.
              items:
                $ref: '#/components/schemas/json_AtlasGlossaryCategory'
              type: array
        description: An array of glossary category definitions to be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary category created successfully in
                  bulk.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossaryCategory'
                type: array
          description: OK. If bulk glossary category creation was successful.
        "400":
          content: {}
          description: If ANY glossary category definition has invalid or missing
            information.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_CreateGlossaryCategories:
          $ref: ./examples/GlossaryREST_CreateGlossaryCategories.json
      x-codegen-request-body-name: glossaryCategory
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/category:
    post:
      description: Creates a glossary category.
      operationId: GlossaryREST_CreateGlossaryCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossaryCategory'
        description: |-
          The glossary category definition. A category must be anchored to a Glossary when creating.
          Optionally, terms belonging to the category and the hierarchy can also be defined during creation.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryCategory'
          description: OK. If glossary category creation was successful.
        "400":
          content: {}
          description: If glossary category definition has invalid or missing information.
        "409":
          content: {}
          description: If glossary category already exists (duplicate qualifiedName).
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_CreateGlossaryCategory:
          $ref: ./examples/GlossaryREST_CreateGlossaryCategory.json
      x-codegen-request-body-name: glossaryCategory
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/category/{categoryGuid}:
    delete:
      description: Deletes a glossary category.
      operationId: GlossaryREST_DeleteGlossaryCategory
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: OK. If glossary category delete was successful.
        "404":
          content: {}
          description: If glossary category GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_DeleteGlossaryCategory:
          $ref: ./examples/GlossaryREST_DeleteGlossaryCategory.json
      x-accepts: application/json
    get:
      description: Gets specific glossary category by its GUID.
      operationId: GlossaryREST_GetGlossaryCategory
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryCategory'
          description: OK. If glossary category exists for given GUID.
        "404":
          content: {}
          description: If glossary category GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryCategory:
          $ref: ./examples/GlossaryREST_GetGlossaryCategory.json
      x-accepts: application/json
    put:
      description: Updates the given glossary category by its GUID.
      operationId: GlossaryREST_UpdateGlossaryCategory
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossaryCategory'
        description: The glossary category to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryCategory'
          description: OK. If glossary category partial update was successful.
        "400":
          content: {}
          description: If glossary category definition has invalid or missing information.
        "404":
          content: {}
          description: If glossary category GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_UpdateGlossaryCategory:
          $ref: ./examples/GlossaryREST_UpdateGlossaryCategory.json
      x-codegen-request-body-name: glossaryCategory
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/category/{categoryGuid}/partial:
    put:
      description: Updates the glossary category partially.
      operationId: GlossaryREST_PartialUpdateGlossaryCategory
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              description: A map containing keys as attribute names and values as
                corresponding attribute values.
              type: object
        description: A map containing keys as attribute names and values as corresponding
          attribute values for partial update.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryCategory'
          description: OK. If glossary category partial update was successful.
        "400":
          content: {}
          description: If category attributes are invalid.
        "404":
          content: {}
          description: If glossary category GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_PartialUpdateGlossaryCategory:
          $ref: ./examples/GlossaryREST_PartialUpdateGlossaryCategory.json
      x-codegen-request-body-name: partialUpdates
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/category/{categoryGuid}/related:
    get:
      description: Gets all related categories (parent and children). Limit, offset,
        and sort parameters are currently not being enabled and won't work even they
        are passed.
      operationId: GlossaryREST_GetRelatedCategories
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/json_AtlasRelatedCategoryHeader'
                  type: array
                description: An array of related categories.
                type: object
          description: OK. Gets an array of related categories.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetRelatedCategories:
          $ref: ./examples/GlossaryREST_GetRelatedCategories.json
      x-accepts: application/json
  /atlas/v2/glossary/category/{categoryGuid}/terms:
    get:
      description: Gets all terms associated with the specific category.
      operationId: GlossaryREST_GetCategoryTerms
      parameters:
      - description: The globally unique identifier of the category.
        in: path
        name: categoryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of terms for the given category or an empty
                  list.
                items:
                  $ref: '#/components/schemas/json_AtlasRelatedTermHeader'
                type: array
          description: An array of terms for the given category or an empty list.
        "404":
          content: {}
          description: If glossary category GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetCategoryTerms:
          $ref: ./examples/GlossaryREST_GetCategoryTerms.json
      x-accepts: application/json
  /atlas/v2/glossary/term:
    post:
      description: Creates a glossary term.
      operationId: GlossaryREST_CreateGlossaryTerm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossaryTerm'
        description: |-
          The glossary term definition. A term must be anchored to a Glossary at the time of creation.
          Optionally it can be categorized as well.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryTerm'
          description: OK. If glossary term creation was successful.
        "400":
          content: {}
          description: If glossary term definition has invalid or missing information.
        "409":
          content: {}
          description: If glossary term already exists (duplicate qualifiedName).
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_CreateGlossaryTerm:
          $ref: ./examples/GlossaryREST_CreateGlossaryTerm.json
        GlossaryREST_CreateGlossaryTermWithTermTemplate:
          $ref: ./examples/GlossaryREST_CreateGlossaryTermWithTermTemplate.json
      x-codegen-request-body-name: glossaryTerm
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/term/{termGuid}:
    delete:
      description: Deletes a glossary term.
      operationId: GlossaryREST_DeleteGlossaryTerm
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: OK. If glossary term delete was successful.
        "404":
          content: {}
          description: If glossary term guid in invalid.
      tags:
      - GlossaryREST
      x-accepts: application/json
    get:
      description: Gets a specific glossary term by its GUID.
      operationId: GlossaryREST_GetGlossaryTerm
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryTerm'
          description: OK. If glossary term exists for given GUID.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryTerm:
          $ref: ./examples/GlossaryREST_GetGlossaryTerm.json
      x-accepts: application/json
    put:
      description: Updates the given glossary term by its GUID.
      operationId: GlossaryREST_UpdateGlossaryTerm
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossaryTerm'
        description: The glossary term to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryTerm'
          description: OK. If glossary term update was successful.
        "400":
          content: {}
          description: If glossary temr definition has invalid or missing information.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_UpdateGlossaryTerm:
          $ref: ./examples/GlossaryREST_UpdateGlossaryTerm.json
      x-codegen-request-body-name: glossaryTerm
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/term/{termGuid}/partial:
    put:
      description: Updates the glossary term partially.
      operationId: GlossaryREST_PartialUpdateGlossaryTerm
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              description: A map containing keys as attribute names and values as
                corresponding attribute values.
              type: object
        description: A map containing keys as attribute names and values as corresponding
          attribute values to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryTerm'
          description: OK. If glossary partial update was successful.
        "400":
          content: {}
          description: If partial attributes are invalid.
        "404":
          content: {}
          description: If glossary term guid in invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_PartialUpdateGlossaryTerm:
          $ref: ./examples/GlossaryREST_PartialUpdateGlossaryTerm.json
      x-codegen-request-body-name: partialUpdates
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/terms:
    post:
      description: Creates glossary terms in bulk.
      operationId: GlossaryREST_CreateGlossaryTerms
      requestBody:
        content:
          application/json:
            schema:
              description: An array of glossary term definitions.
              items:
                $ref: '#/components/schemas/json_AtlasGlossaryTerm'
              type: array
        description: An array of glossary term definitions to be created in bulk.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                description: If bulk glossary terms creation was successful.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossaryTerm'
                type: array
          description: OK. If bulk glossary terms creation was successful.
        "400":
          content: {}
          description: If any glossary term definition has invalid or missing information.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_CreateGlossaryTerms:
          $ref: ./examples/GlossaryREST_CreateGlossaryTerms.json
      x-codegen-request-body-name: glossaryTerm
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/terms/{termGuid}/assignedEntities:
    delete:
      description: Deletes the term assignment for the given list of related objects.
      operationId: GlossaryREST_DeleteTermAssignmentFromEntities
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of related object IDs from which the term has
                to be dissociated.
              items:
                $ref: '#/components/schemas/json_AtlasRelatedObjectId'
              type: array
        description: An array of related object IDs from which the term has to be
          dissociated.
        required: true
      responses:
        "204":
          content: {}
          description: OK. If glossary term dissociation was successful.
        "400":
          content: {}
          description: If ANY of the related objects is invalid.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_RemoveTermAssignmentFromEntities:
          $ref: ./examples/GlossaryREST_RemoveTermAssignmentFromEntities.json
      x-codegen-request-body-name: relatedObjectIds
      x-contentType: application/json
      x-accepts: application/json
    get:
      description: Gets all related objects assigned with the specified term.
      operationId: GlossaryREST_GetEntitiesAssignedWithTerm
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of related objects (if any) for the given glossary
                  or an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasRelatedObjectId'
                type: array
          description: OK. An array of related objects (if any) for the given glossary
            or an empty list.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetEntitiesAssignedWithTerm:
          $ref: ./examples/GlossaryREST_GetEntitiesAssignedWithTerm.json
      x-accepts: application/json
    post:
      description: Assigns the given term to the provided list of related objects.
      operationId: GlossaryREST_AssignTermToEntities
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of related object IDs to which the term has to
                be associated.
              items:
                $ref: '#/components/schemas/json_AtlasRelatedObjectId'
              type: array
        description: An array of related object IDs to which the term has to be associated.
        required: true
      responses:
        "204":
          content: {}
          description: OK. If the term assignment was successful.
        "400":
          content: {}
          description: If ANY of the related objects is invalid.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_AssignTermToEntities:
          $ref: ./examples/GlossaryREST_AssignTermToEntities.json
      x-codegen-request-body-name: relatedObjectIds
      x-contentType: application/json
      x-accepts: application/json
    put:
      description: Deletes the term assignment for the given list of related objects.
      operationId: GlossaryREST_RemoveTermAssignmentFromEntities
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of related object IDs from which the term has
                to be dissociated.
              items:
                $ref: '#/components/schemas/json_AtlasRelatedObjectId'
              type: array
        description: An array of related object IDs from which the term has to be
          dissociated.
        required: true
      responses:
        "204":
          content: {}
          description: OK. If glossary term dissociation was successful.
        "400":
          content: {}
          description: If ANY of the related objects is invalid.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_RemoveTermAssignmentFromEntities:
          $ref: ./examples/GlossaryREST_RemoveTermAssignmentFromEntities.json
      x-codegen-request-body-name: relatedObjectIds
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/terms/{termGuid}/related:
    get:
      description: Gets all related terms for a specific term by its GUID. Limit,
        offset, and sort parameters are currently not being enabled and won't work
        even they are passed.
      operationId: GlossaryREST_GetRelatedTerms
      parameters:
      - description: The globally unique identifier for glossary term.
        in: path
        name: termGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/json_AtlasRelatedTermHeader'
                  type: array
                description: An array of related glossary terms for the given glossary
                  or an empty list.
                type: object
          description: OK. An array of related glossary terms for the given glossary
            or an empty list.
        "404":
          content: {}
          description: If glossary term GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetRelatedTerms:
          $ref: ./examples/GlossaryREST_GetRelatedTerms.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}:
    delete:
      description: Deletes a glossary.
      operationId: GlossaryREST_DeleteGlossary
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: OK. If glossary delete was successful.
        "404":
          content: {}
          description: If glossary GUID in invalid.
      tags:
      - GlossaryREST
      x-accepts: application/json
    get:
      description: Gets a specific Glossary by its GUID.
      operationId: GlossaryREST_GetGlossary
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossary'
          description: OK. If glossary with given guid exists.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossary:
          $ref: ./examples/GlossaryREST_GetGlossary.json
      x-accepts: application/json
    put:
      description: Updates the given glossary.
      operationId: GlossaryREST_UpdateGlossary
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasGlossary'
        description: The glossary definition to be updated.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossary'
          description: OK. If glossary update was successful.
        "400":
          content: {}
          description: If glossary definition has invalid or missing information.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_UpdateGlossary:
          $ref: ./examples/GlossaryREST_UpdateGlossary.json
      x-codegen-request-body-name: updatedGlossary
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/categories:
    get:
      description: Gets the categories belonging to a specific glossary.
      operationId: GlossaryREST_GetGlossaryCategories
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary categories for the given glossary
                  or an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossaryCategory'
                type: array
          description: OK. An array of glossary categories for the given glossary
            or an empty list.
        "404":
          content: {}
          description: If glossary guid is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryCategories:
          $ref: ./examples/GlossaryREST_GetGlossaryCategories.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/categories/headers:
    get:
      description: Gets the category headers belonging to a specific glossary.
      operationId: GlossaryREST_GetGlossaryCategoriesHeaders
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary category headers for the given glossary
                  or an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasRelatedCategoryHeader'
                type: array
          description: OK. An array of glossary category headers for the given glossary
            or an empty list.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryCategoriesHeaders:
          $ref: ./examples/GlossaryREST_GetGlossaryCategoriesHeaders.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/detailed:
    get:
      description: Gets a specific glossary with detailed information.
      operationId: GlossaryREST_GetDetailedGlossary
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossaryExtInfo'
          description: OK. If glossary exists for given GUID.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetDetailedGlossary:
          $ref: ./examples/GlossaryREST_GetDetailedGlossary.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/partial:
    put:
      description: Updates the glossary partially. Some properties such as qualifiedName
        are not allowed to be updated.
      operationId: GlossaryREST_PartialUpdateGlossary
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                type: string
              description: A map containing keys as attribute names and values as
                corresponding attribute values.
              type: object
        description: A map containing keys as attribute names and values as corresponding
          attribute values.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasGlossary'
          description: OK. If glossary partial update was successful.
        "400":
          content: {}
          description: If partial update parameters are invalid.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_PartialUpdateGlossary:
          $ref: ./examples/GlossaryREST_PartialUpdateGlossary.json
      x-codegen-request-body-name: partialUpdates
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/terms:
    get:
      description: Gets terms belonging to a specific glossary.
      operationId: GlossaryREST_GetGlossaryTerms
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary terms for the given glossary or
                  an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossaryTerm'
                type: array
          description: OK. An array of glossary terms for the given glossary or an
            empty list.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryTerms:
          $ref: ./examples/GlossaryREST_GetGlossaryTerms.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/terms/headers:
    get:
      description: Gets term headers belonging to a specific glossary.
      operationId: GlossaryREST_GetGlossaryTermHeaders
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The sort order, ASC (default) or DESC.
        in: query
        name: sort
        schema:
          default: ASC
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary terms for the given glossary or
                  an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasRelatedTermHeader'
                type: array
          description: OK. An array of glossary terms for the given glossary or an
            empty list.
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetGlossaryTermHeaders:
          $ref: ./examples/GlossaryREST_GetGlossaryTermHeaders.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/terms/import:
    post:
      description: Import Glossary Terms from local csv file
      operationId: GlossaryREST_ImportGlossaryTermsViaCSV
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  default: Name,Definition,Status,Related Terms,Synonyms,Acronym,Experts,Stewards
                  description: The csv file to import glossary terms from.
                  format: binary
                  type: string
              required:
              - file
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_ImportCSVOperation'
          description: Accepted. A job to import glossary terms via csv has been accepted.
        "400":
          content: {}
          description: If csv file is not valid
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_ImportGlossaryTermsViaCSV:
          $ref: ./examples/GlossaryREST_GetImportCSVOperationStatus.json
      x-contentType: multipart/form-data
      x-accepts: application/json
  /atlas/v2/glossary/name/{glossaryName}/terms/import:
    post:
      description: Import Glossary Terms from local csv file by glossaryName
      operationId: GlossaryREST_ImportGlossaryTermsViaCSVByGlossaryName
      parameters:
      - description: The name of the glossary.
        in: path
        name: glossaryName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  default: Name,Definition,Status,Related Terms,Synonyms,Acronym,Experts,Stewards
                  description: The csv file to import glossary terms from.
                  format: binary
                  type: string
              required:
              - file
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_ImportCSVOperation'
          description: Accepted. A job to import glossary terms via csv has been accepted.
        "400":
          content: {}
          description: If csv file is not valid
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_ImportGlossaryTermsViaCSVByGlossaryName:
          $ref: ./examples/GlossaryREST_GetImportCSVOperationStatus.json
      x-contentType: multipart/form-data
      x-accepts: application/json
  /atlas/v2/glossary/terms/import/{operationGuid}:
    get:
      description: Get the status of import csv operation
      operationId: GlossaryREST_GetImportCSVOperationStatus
      parameters:
      - description: The globally unique identifier for async operation/job`.
        in: path
        name: operationGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_ImportCSVOperation'
          description: OK. Return the status of import csv operation.
        "404":
          content: {}
          description: If operation GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetImportCSVOperationStatus:
          $ref: ./examples/GlossaryREST_GetImportCSVOperationStatus.json
      x-accepts: application/json
  /atlas/v2/glossary/{glossaryGuid}/terms/export:
    post:
      description: Export Glossary Terms as csv file
      operationId: GlossaryREST_ExportGlossaryTermsAsCSV
      parameters:
      - description: The globally unique identifier for glossary.
        in: path
        name: glossaryGuid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              description: An array of term guids.
              items:
                $ref: '#/components/schemas/json_TermGuid'
              type: array
        description: An array of term guids.
        required: true
      responses:
        "200":
          content: {}
          description: OK. A csv file contains terms with given term ids will be generated.
        "400":
          content: {}
          description: If term ids is not belong to the glossary guid
        "404":
          content: {}
          description: If glossary GUID is invalid.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_ExportGlossaryTermsAsCSV:
          $ref: ./examples/GlossaryREST_ExportGlossaryTermsAsCSV.json
      x-codegen-request-body-name: termGuids
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/glossary/name/{glossaryName}/terms:
    get:
      description: Gets terms by glossary name.
      operationId: GlossaryREST_GetTermsByGlossaryName
      parameters:
      - description: The name of the glossary.
        in: path
        name: glossaryName
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An array of glossary terms for the given glossary or
                  an empty list.
                items:
                  $ref: '#/components/schemas/json_AtlasGlossaryTerm'
                type: array
          description: OK. An array of glossary terms for the given glossary or an
            empty list.
      tags:
      - GlossaryREST
      x-ms-examples:
        GlossaryREST_GetTermsByGlossaryName:
          $ref: ./examples/GlossaryREST_GetTermsByGlossaryName.json
      x-accepts: application/json
  /atlas/v2/search/advanced:
    post:
      description: Gets data using advanced search.
      operationId: DiscoveryREST_SearchAdvanced
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_SearchRequest'
        description: An object specifying the search criteria.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AdvancedSearchResult'
          description: OK. On successful lookup of the advanced search.
        "400":
          content: {}
          description: Illegal argument exception thrown.
      tags:
      - DiscoveryREST
      x-ms-examples:
        DiscoveryREST_SearchAdvanced:
          $ref: ./examples/DiscoveryREST_SearchAdvanced.json
        DiscoveryREST_SearchAdvanced_And:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_And.json
        DiscoveryREST_SearchAdvanced_Not:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Not.json
        DiscoveryREST_SearchAdvanced_AndOrNested:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_AndOrNested.json
        DiscoveryREST_SearchAdvanced_Attribute:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Attribute.json
        DiscoveryREST_SearchAdvanced_Classification:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Classification.json
        DiscoveryREST_SearchAdvanced_FileExtention:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_FileExtension.json
        DiscoveryREST_SearchAdvanced_Id:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Id.json
        DiscoveryREST_SearchAdvanced_Type:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Type.json
        DiscoveryREST_SearchAdvanced_AssetType:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_AssetType.json
        DiscoveryREST_SearchAdvanced_Term:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Term.json
        DiscoveryREST_SearchAdvanced_TermOfGlossary:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_TermOfGlossary.json
        DiscoveryREST_SearchAdvanced_Facet:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Facet.json
        DiscoveryREST_SearchAdvanced_Taxonomy:
          $ref: ./examples/DiscoveryREST_SearchAdvanced_Taxonomy.json
      x-codegen-request-body-name: searchRequest
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/search/suggest:
    post:
      description: Gets search suggestions by query criteria.
      operationId: DiscoveryREST_Suggest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_SuggestRequest'
        description: An object specifying the suggest criteria.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_SuggestResult'
          description: OK. On successful lookup of the suggestions.
        "400":
          content: {}
          description: Illegal argument exception thrown.
      tags:
      - DiscoveryREST
      x-ms-examples:
        DiscoveryREST_Suggest:
          $ref: ./examples/DiscoveryREST_Suggest.json
      x-codegen-request-body-name: suggestRequest
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/search/autocomplete:
    get:
      description: Gets auto complete options.
      operationId: DiscoveryREST_AutoComplete
      parameters:
      - description: The keyword to get auto complete.
        in: query
        name: keyword
        required: true
        schema:
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Limits the result set to only include the specified number of
          entries.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AutocompleteResult'
          description: OK. On successful lookup of the auto complete options.
        "400":
          content: {}
          description: 'Illegal argument: Keyword is required'
      tags:
      - DiscoveryREST
      x-ms-examples:
        DiscoveryREST_AutoComplete:
          $ref: ./examples/DiscoveryREST_AutoComplete.json
      x-accepts: application/json
  /atlas/v2/lineage/{guid}:
    get:
      description: Gets lineage info about the specified entity by GUID.
      operationId: LineageREST_GetLineageGraph
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of hops for lineage.
        in: query
        name: depth
        schema:
          default: 3
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The number of max expanding width in lineage.
        in: query
        name: width
        schema:
          default: 10
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The direction of the lineage, which could be INPUT, OUTPUT or
          BOTH.
        in: query
        name: direction
        required: true
        schema:
          enum:
          - BOTH
          - INPUT
          - OUTPUT
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: True to include the parent chain in the response.
        in: query
        name: includeParent
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: True to include derived lineage in the response
        in: query
        name: getDerivedLineage
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasLineageInfo'
          description: OK. If Lineage exists for the given entity.
        "400":
          content: {}
          description: Bad query parameters.
        "404":
          content: {}
          description: If no lineage is found for the given entity.
      tags:
      - LineageREST
      x-ms-examples:
        LineageREST_GetLineageGraph:
          $ref: ./examples/LineageREST_GetLineageGraph.json
      x-accepts: application/json
  /atlas/v2/lineage/{guid}/next/:
    get:
      description: Returns immediate next level lineage info about entity with pagination
      operationId: LineageREST_NextLevelLineage
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The direction of the lineage, which could be INPUT, OUTPUT or
          BOTH.
        in: query
        name: direction
        required: true
        schema:
          enum:
          - BOTH
          - INPUT
          - OUTPUT
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: True to include derived lineage in the response
        in: query
        name: getDerivedLineage
        schema:
          type: boolean
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The offset for pagination purpose.
        in: query
        name: offset
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: The page size - by default there is no paging.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasLineageInfo'
          description: OK. If Lineage exists for the given entity.
        "400":
          content: {}
          description: Bad query parameters.
        "404":
          content: {}
          description: If no lineage is found for the given entity.
      tags:
      - LineageREST
      x-ms-examples:
        LineageREST_NextLevelLineage:
          $ref: ./examples/LineageREST_NextLevelLineage.json
      x-accepts: application/json
  /atlas/v2/relationship:
    post:
      description: Creates a new relationship between entities.
      operationId: RelationshipREST_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasRelationship'
        description: The AtlasRelationship object containing the information for the
          relationship to be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasRelationship'
          description: OK. The relationship is created.
      tags:
      - RelationshipREST
      x-ms-examples:
        RelationshipREST_Create:
          $ref: ./examples/RelationshipREST_Create.json
      x-codegen-request-body-name: relationship
      x-contentType: application/json
      x-accepts: application/json
    put:
      description: Updates an existing relationship between entities.
      operationId: RelationshipREST_Update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/json_AtlasRelationship'
        description: The AtlasRelationship object containing the information for the
          relationship to be created.
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasRelationship'
          description: OK. The relationship is updated.
      tags:
      - RelationshipREST
      x-ms-examples:
        RelationshipREST_Update:
          $ref: ./examples/RelationshipREST_Update.json
      x-codegen-request-body-name: relationship
      x-contentType: application/json
      x-accepts: application/json
  /atlas/v2/relationship/guid/{guid}:
    delete:
      description: Deletes a relationship between entities by its GUID.
      operationId: RelationshipREST_DeleteById
      parameters:
      - description: The globally unique identifier of the relationship.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "204":
          content: {}
          description: OK. The relationship is deleted.
      tags:
      - RelationshipREST
      x-ms-examples:
        RelationshipREST_DeleteById:
          $ref: ./examples/RelationshipREST_DeleteById.json
      x-accepts: application/json
    get:
      description: Gets relationship information between entities by its GUID.
      operationId: RelationshipREST_GetById2
      parameters:
      - description: The globally unique identifier of the relationship.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - description: Limits whether includes extended information.
        in: query
        name: extendedInfo
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasRelationshipWithExtInfo'
          description: OK.
      tags:
      - RelationshipREST
      x-ms-examples:
        RelationshipREST_GetById2:
          $ref: ./examples/RelationshipREST_GetById2.json
      x-accepts: application/json
  /atlas/v2/types/classificationdef/guid/{guid}:
    get:
      description: Gets the classification definition for the given GUID.
      operationId: TypesREST_GetClassificationDefByGuid
      parameters:
      - description: The globally unique identifier of the classification.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasClassificationDef'
          description: OK. On successful lookup of the the classification definition
            by its GUID.
        "404":
          content: {}
          description: On failed lookup for the given GUID.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetClassificationDefByGuid:
          $ref: ./examples/TypesREST_GetClassificationDefByGuid.json
      x-accepts: application/json
  /atlas/v2/types/classificationdef/name/{name}:
    get:
      description: Gets the classification definition by its name (unique).
      operationId: TypesREST_GetClassificationDefByName
      parameters:
      - description: The name of the classification.
        in: path
        name: name
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasClassificationDef'
          description: OK. On successful lookup of the the classification definition
            by its name.
        "404":
          content: {}
          description: On failed lookup for the given name.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetClassificationDefByName:
          $ref: ./examples/TypesREST_GetClassificationDefByName.json
      x-accepts: application/json
  /atlas/v2/types/entitydef/guid/{guid}:
    get:
      description: Gets the Entity definition for the given GUID.
      operationId: TypesREST_GetEntityDefByGuid
      parameters:
      - description: The globally unique identifier of the entity.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntityDef'
          description: OK. On successful lookup of the the entity definition by its
            GUID.
        "404":
          content: {}
          description: On Failed lookup for the given GUID.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetEntityDefByGuid:
          $ref: ./examples/TypesREST_GetEntityDefByGuid.json
      x-accepts: application/json
  /atlas/v2/types/entitydef/name/{name}:
    get:
      description: Gets the entity definition by its name (unique).
      operationId: TypesREST_GetEntityDefByName
      parameters:
      - description: The name of the entity.
        in: path
        name: name
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEntityDef'
          description: OK. On successful lookup of the the entity definition by its
            name.
        "404":
          content: {}
          description: On failed lookup for the given name.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetEntityDefByName:
          $ref: ./examples/TypesREST_GetEntityDefByName.json
      x-accepts: application/json
  /atlas/v2/types/termtemplatedef/guid/{guid}:
    get:
      description: Gets the term template definition for the given GUID.
      operationId: TypesREST_GetTermTemplateDefByGuid
      parameters:
      - description: The globally unique identifier of the term template.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_TermTemplateDef'
          description: OK. On successful lookup of the the term template definition
            by its GUID.
        "404":
          content: {}
          description: On failed lookup for the given GUID.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetTermTemplateDefByGuid:
          $ref: ./examples/TypesREST_GetTermTemplateDefByGuid.json
      x-accepts: application/json
  /atlas/v2/types/termtemplatedef/name/{name}:
    get:
      description: Gets the term template definition by its name (unique).
      operationId: TypesREST_GetTermTemplateDefByName
      parameters:
      - description: The name of the term template.
        in: path
        name: name
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_TermTemplateDef'
          description: OK. On successful lookup of the the term template definition
            by its name.
        "404":
          content: {}
          description: On failed lookup for the given name.
      tags:
      - TypesREST
      x-ms-examples:
        TypesREST_GetTermTemplateDefByName:
          $ref: ./examples/TypesREST_GetTermTemplateDefByName.json
      x-accepts: application/json
  /atlas/v2/types/enumdef/guid/{guid}:
    get:
      description: Gets the enum definition for the given GUID.
      operationId: TypesREST_GetEnumDefByGuid
      parameters:
      - description: The globally unique identifier of the enum.
        in: path
        name: guid
        required: true
        schema:
          maxLength: 4096
          minLength: 1
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/json_AtlasEnumDef'
[...]
